body {
    background-image: radial-gradient(rgba(255, 255, 255, 0) 0, transparent 0),
                      radial-gradient(rgb(146, 146, 146) 0.01vw, transparent 0);
    background-size: 4vw 4vw, 2vw 2vw;
    background-color: #101010;
}