html {
    scroll-behavior: smooth;
    font-size: 2rem;
    font-family: 'Unbounded';
}

body {
    background-color: #090907;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#fileInput {
    display: none;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-file-input {
    color: #f8ffcf;
    background-color: #04FB76;
    padding: 1vw 1vw 1vw 2.5vw;
    cursor: pointer;
    font-size: 0.95vw;
    border-radius: 0.4vw;
    border: #19EE7D 0.2vw solid;
    text-decoration: none;
    font-weight: 400;
    margin-top: 0%;
    margin-bottom: 0%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, fill 0.3s;
    box-shadow: 0 0 2.5vw #19ee7c65;
}

.custom-file-input:hover {
    color: #090907;
    background-color: #fff;
    border-color: #fff;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 2.5vw #ffffffa2;
}

#recentFiles h2 {
    margin-top: 0;
    position: relative;
    filter: drop-shadow(0 0 0.75vw #19ee7c73);
}

#recentFiles {
    background-color: #151611;
    width: 22.5%;
    height: 90%;
    border: #38392A 0.11vw solid;
    font-size: 1vw;
    border-radius: 0.4vw;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 13.75%;
    transform: translate(-50%, -50%);
}

li a {
    list-style-type: none;
    text-decoration: none;
    color: #f8ffcf;
    display: block;
    margin-left: -10%;
    margin-bottom: 15%;
    width: max-content;
    font-size: 90%;
    font-weight: 100;
    transition: color 0.3s, filter 0.3s;
    filter: drop-shadow(0 0 0vw #19EE7Da9);
}

li a:hover {
    color: #19EE7D;
    filter: drop-shadow(0 0 0.25vw #19EE7D70);
}

h2 {
    color: #04FB76;
}

.upload-info {
    color: #ffffff8a;
    position: absolute;
    margin-top: -10%;
    margin-left: -8.5%;
    font-size: 80%;
}

.progress-text {
    position: absolute;
    color: #f8ffcf;
    font-size: 0.8vw;
    opacity: 0.4;
    margin-top: -2%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.3s;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: #151611;
    margin: 15% auto;
    padding: 1em;
    border: 0.11vw solid #38392A;
    color: #f8ffcf;
    width: 25em;
    border-radius: 0.4vw;
    text-align: center;
    margin-top: 20%;
    z-index: 10;
    font-size: 0.65em;
}

.close {
    color: #090907;
    font-weight: 100;;
    font-size: 1vw;
    line-height: 0%;
    width: 4.5em;
    height: 2.25em;
    border-radius: 0.4vw;
    border: #fff 0.2vw solid;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.close:hover,
.close:focus {
    color: #fff;
    background-color: #04FB76;
    border-color: #19EE7D;
    text-decoration: none;
    cursor: pointer;
}

li:nth-of-type(1n+11) {
    display: none;
}

.info {
    position: absolute;
    color: #f8ffcf56;
    font-size: 0.8vw;
    margin-top: 4%;
    margin-left: -0.25%;
    filter: drop-shadow(0 0 0.4vw #fff);
}

#upload {
    position: absolute;
    width: 2.75%;
    height: 2.75%;
    margin-left: -6.4%;
    margin-top: 1%;
    pointer-events: none;
    transition: fill 0.3s;
    fill: #f8ffcf;
}

.custom-file-input:hover + #upload {
    fill: #090907;
}

.copyright {
    position: absolute;
    color: #f5f5f550;
    font-size: 0.7vw;
<<<<<<< HEAD
    margin-top: 22%;
    margin-left: -2.5%;
=======
    margin-top: 20%;
    margin-left: -2.75%;
}

#profilePic {
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 56vw;
    margin-top: -51vh;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
>>>>>>> 5e3546d205ea34e919ede4ebd4db35dd8d58269b
}